<?xml version="1.0" encoding="utf-8"?>
<smtp from="oci-noreply@jandbmedical.com">
  <network enableSsl="true" defaultCredentials="false" host="smtp.office365.com" password="$THLK8p4G*hwkgkV" port="587" userName="oci-noreply@jandbmedical.com" />
</smtp>


<!-- <smtp from="noreply@jbmmedical.com"> -->
