<?xml version="1.0" encoding="utf-8"?>
<rewriteMaps>
	<rewriteMap name="CORS_whitelist">
		<add      key="https://api-jbm-test.jandbmedical.com"      value="https://api-jbm-test.jandbmedical.com" />
		<add       key="http://api-jbm-test.jandbmedical.com"       value="http://api-jbm-test.jandbmedical.com" />
		<add              key="api-jbm-test.jandbmedical.com"              value="api-jbm-test.jandbmedical.com" />
		<add      key="https://ems-jbm-test.jandbmedical.com"      value="https://ems-jbm-test.jandbmedical.com" />
		<add       key="http://ems-jbm-test.jandbmedical.com"       value="http://ems-jbm-test.jandbmedical.com" />
		<add              key="ems-jbm-test.jandbmedical.com"              value="ems-jbm-test.jandbmedical.com" />
		<add key="https://medsurg-jbm-test.jandbmedical.com" value="https://medsurg-jbm-test.jandbmedical.com" />
		<add  key="http://medsurg-jbm-test.jandbmedical.com"  value="http://medsurg-jbm-test.jandbmedical.com" />
		<add         key="medsurg-jbm-test.jandbmedical.com"         value="medsurg-jbm-test.jandbmedical.com" />
	</rewriteMap>
</rewriteMaps>