<?xml version="1.0" encoding="utf-8"?>
<outboundRules>
  <!--if the 'CORS All' outbound rule is enabled, then 'CORS by Whitelist Only' must be disabled and vice versa-->
  <!--This rule should only be enabled in development as it allows all origins
  <rule name="CORS All" enabled="false">
    <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern=".+" negate="true" />
    <conditions>
    </conditions>
    <action type="Rewrite" value="{ORIGIN_HOST}" />
  </rule>-->
  <!--This rule should always be enabled for production-->
  <rule name="CORS by Whitelist Only" enabled="true">
    <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern=".+" negate="true" />
    <conditions>
      <add input="{CORS_whitelist:{ORIGIN_HOST}}" pattern=".+" />
    </conditions>
    <action type="Rewrite" value="{C:0}" />
  </rule>
</outboundRules>
