<?xml version="1.0" encoding="utf-8"?>
<rules>
  <!-- This rule must always be enabled, but is set in the root of DNN -->
  <rule name="CORS Origin Grabber_javascript">
    <match url=".*" />
    <conditions>
      <add input="{HTTP_ORIGIN}" pattern=".+" />
    </conditions>
    <serverVariables>
      <set name="ORIGIN_HOST" value="{C:0}" />
    </serverVariables>
    <action type="None" />
  </rule>
</rules>
