/* Homepage Rotator */
#EDR_ChameleonSlider_455 img{
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
}

#EDR_ChameleonSlider_456 img{
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
}
#EDR_ChameleonSlider_456 a:hover{
   background: none !important;
}

/* Homepage About Us */

@media only screen and (max-width: 767px) {
    .homepage-about-us-section {
        flex-direction: column !important;
        min-height: auto !important;
    }
    .homepage-about-us-section .homepage-about-us-bg-img {
        min-height: auto;
        width: 100% !important;
    }
    .homepage-about-us-section .homepage-about-us-text {
        width: 100% !important;
    }
}

label.control-label.af-slide.required:after {

content: '*';

color: red;

}

















