div[cef-product-actions-group] {
  button {
    border-color: $gray-200;
  }
}

.cef-product-view.template-clothing {
  [cef-magic-image-carousel] > div {
    // border: 1px red solid;
    display: flex;
    flex-direction: row-reverse;
    .MagicZoom {
      flex: 1;
    }
  }
  [cef-product-buy-block] {
    .col-12 {
      display: flex;
      .input-group {
        height: 100%;
        input {
          height: 100%;
          min-width: 3rem;
        }
      }
      [cef-add-to-cart-quantity-selector]+button {
        margin-left: 1rem;
      }
    }
  }
}
